Repository joke2k/faker, pull requests merged in 2019-01, with the labels that each got.

#896 Review de locale
  faker/providers/address/de/__init__.py
  faker/providers/address/de_AT/__init__.py
  faker/providers/address/de_DE/__init__.py
  faker/providers/person/de_AT/__init__.py
  faker/providers/phone_number/de_DE/__init__.py
Labels: provider, waiting on feedback

#890 Update Person Provider (zh_CN & zh_TW)
  faker/providers/person/zh_CN/__init__.py
  tests/providers/test_person.py
Labels: provider

#892 Generating a zipcode within a given state for EnUS
  faker/providers/address/en_US/__init__.py
  tests/providers/test_address.py
Labels: enhancement, provider, waiting on feedback
