Repository joke2k/faker, pull requests merged in 2020-11, with the labels that each got.

#1316 [th_TH] Add postcode format, country names, person prefix weights, and update phone number format
  faker/providers/address/th/__init__.py
  faker/providers/address/th_TH/__init__.py
  faker/providers/person/th_TH/__init__.py
  faker/providers/phone_number/th_TH/__init__.py
  tests/providers/test_address.py
  tests/providers/test_person.py
  tests/providers/test_phone_number.py
Labels: Ready to merge, bump-version:minor, provider

#1317 [th_TH] Add SSN, company name, address, and license plate providers
  faker/providers/address/th_TH/__init__.py
  faker/providers/automotive/th_TH/__init__.py
  faker/providers/company/th_TH/__init__.py
  faker/providers/job/th_TH/__init__.py
  faker/providers/person/th_TH/__init__.py
  faker/providers/ssn/th_TH/__init__.py
  tests/providers/test_address.py
  tests/providers/test_automotive.py
  tests/providers/test_company.py
  tests/providers/test_job.py
  tests/providers/test_ssn.py
Labels: bump-version:minor, provider

#1313 [Japanese/PersonProvider] add name pairs to get matched representation
  faker/providers/person/ja_JP/__init__.py
  tests/providers/test_person.py
Labels: bump-version:minor

#1321 [th_TH] Add date_time and bank providers
  faker/providers/bank/th_TH/__init__.py
  faker/providers/date_time/th_TH/__init__.py
  faker/providers/person/hu_HU/__init__.py
  faker/providers/person/ru_RU/__init__.py
  faker/providers/person/th_TH/__init__.py
  faker/providers/profile/en_US/__init__.py
  faker/providers/python/en_US/__init__.py
  faker/providers/user_agent/en_US/__init__.py
  tests/providers/test_bank.py
  tests/providers/test_date_time.py
  tests/providers/test_misc.py
  tests/providers/test_profile.py
Labels: bump-version:minor, provider
