Repository joke2k/faker, pull requests merged in 2020-10, with the labels that each got.

#1278 Bigger zip code ranges for VA, TX and MD
  faker/providers/address/en_US/__init__.py
Labels: Ready to merge, provider

#1279 Fix hu_HU color provider inheritance
  faker/providers/color/hu_HU/__init__.py
Labels: Ready to merge, bump-version:minor, provider

#1283 Implement color provider for ``sk_SK`` locale
  faker/providers/color/sk_SK/__init__.py
  tests/providers/test_color.py
Labels: Ready to merge, bump-version:minor, provider

#1285 Add job provider for tr_TR
  faker/providers/job/tr_TR/__init__.py
  tests/providers/test_job.py
Labels: Ready to merge, bump-version:minor, provider

#1284 Added Company Provider for tr_TR locale.
  faker/providers/company/tr_TR/__init__.py
  tests/providers/test_company.py
Labels: bump-version:minor, provider

#1287 Add pt_PT credit card provider
  faker/providers/credit_card/pt_PT/__init__.py
  tests/providers/test_credit_card.py
Labels: Ready to merge, bump-version:minor, provider

#1294 Added currency provider for sv_SE
  faker/providers/currency/sv_SE/__init__.py
  tests/providers/test_currency.py
Labels: bump-version:minor, hacktoberfest-accepted, provider

#1292 Add province list and 2 new district for ne_NP address provider
  faker/providers/address/ne_NP/__init__.py
  tests/providers/test_address.py
Labels: hacktoberfest-accepted, provider

#1288 Add Turkish translation to automotive provider
  faker/providers/automotive/tr_TR/__init__.py
  tests/providers/test_automotive.py
Labels: bump-version:minor, hacktoberfest-accepted, provider

#1226 🦄 Add unique values support to Faker
  README.rst
  docs/fakerclass.rst
  docs/pytest-fixtures.rst
  faker/contrib/pytest/plugin.py
  faker/exceptions.py
  faker/proxy.py
  tests/conftest.py
  tests/pytest/test_unique_clear.py
  tests/test_proxy.py
  tests/test_unique.py
Labels: bump-version:minor, hacktoberfest-accepted

#1304 Add more samples to automotive es_ES test to prevent random coverage decrease
  tests/providers/test_automotive.py
Labels: hacktoberfest-accepted

#1289 Add date_time provider for pt_PT
  faker/providers/date_time/pt_PT/__init__.py
  tests/providers/test_date_time.py
Labels: bump-version:minor, provider

#1290 Add sk_SK Job provider
  faker/providers/job/sk_SK/__init__.py
  tests/providers/test_job.py
Labels: bump-version:minor, hacktoberfest-accepted, provider

#1291 Geo provider added for 'tr_TR' locale
  faker/providers/geo/tr_TR/__init__.py
  tests/providers/test_geo.py
Labels: bump-version:minor, hacktoberfest-accepted, provider

#1295 Split first names into male and female first names on pt_PT provider
  faker/providers/person/pt_PT/__init__.py
  tests/providers/test_person.py
Labels: bump-version:minor, hacktoberfest-accepted, provider
